<div class="container">
<h2>注文履歴一覧</h2>
  <table>
  	<thead>
  		<tr>
  			<th>注文日</th>
  			<th>配送先</th>
  			<th>注文商品</th>
  			<th>支払金額</th>
  			<th>ステータス</th>
  			<th>注文詳細</th>
  		</tr>
  	</thead>
  	<tbody>
  		<tr>2019/11/5</tr>
  		<tr>〒住所宛名</tr>
  		<tr>注文商品一覧</tr>
  		<tr>〜円</tr>
  		<tr>注文ステータス拾う</tr>
  		<tr>詳細ページのリンク</tr>
  	</tbody>
  </table>
</div>