<div class="container">
購入情報入力

<h2>支払い方法</h2>
  <%= form_for (@order) do |f| %>
  <label><%= f.radio_button :paymethod, "クレジットカード" %>クレジットカード</label>
  <% end %>
<!-- まだ動かないよ〜〜〜 -->
お届け先

確認画面へ進む
</div>
