<div class="container">
	注文履歴詳細
	<div class="row">
        <div class="col-xs-6">
　　　　　 <h2>注文情報</h2>
　　　　　  <table>
　　　　　	<tr>
　　　　　		<td>注文日</td>
　　　　　		<td>2019/11/15</td>
　　　　　	</tr>
　　　　　	<tr>
　　　　　		<td>配送先</td>
　　　　　		<td>ここに郵便番号・住所・宛名</td>
　　　　　	</tr>
　　　　　	<tr>
　　　　　		<td>支払方法</td>
　　　　　		<td>銀行振込orクレカ</td>
　　　　　	</tr>
　　　　　	<tr>
　　　　　		<td>ステータス</td>
　　　　　		<td>発送準備中とか発送済とか</td>
　　　　　	</tr>
　　　　　  </table>
        </div>
        <div class="col-xs-6">
        	<h2>請求情報</h2>
        	<table>
        		<tr>
        			<td>商品合計</td>
        			<td>1500</td>
        		</tr>
        		<tr>
        			<td>配送料</td>
        			<td>800</td>
        		</tr>
        		<tr>
        			<td>ご請求額</td>
        			<td>商品合計＋配送料</td>
        		</tr>
        	</table>
        </div>
    </div>
    <div class="low">
    	<div class="col-xs-12">
    		<h2>注文内容</h2>
    		<table>
    		  <thead>
        		<tr>
        			<th>商品</th>
        			<th>単価（税込）</th>
        			<th>個数</th>
        			<th>小計</th>
        		</tr>
        	</thead>
        		<tr>
        			<td>ショートケーキ</td>
        			<td>500</td>
        			<td>2</td>
        			<td>1000</td>
        		</tr>
        	</table>
        </div>
    </div>
</div>
