<<<<<<< HEAD
本日の注文件数は<%= @orders.count %>件です
=======
<div class="row">
    <div class="col-xs-4">
<%= image_tag('woman.jpg') %>
</div>


<div class="row">
    <div class="col-xs-4"><br><br><br><br><br><br>
<h1>本日の注文件数は<%= @orders.count %>件です</h1>
</p>
</div>

<div class="row">
    <div class="col-xs-4 ">
    	<p class="text-right">
<%= image_tag('man.jpg') %>
</p>
</div>
>>>>>>> ed34447825e65f75ebffddfd8875ff87bd978026
