<h1>商品一覧画面</h1>
<table class="table">
<thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <br>
  <tbody>
      <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admins_item_show_path_path(item) %></td>
      <td><%= item.price %></td>
      <td>category表示するところ</td>
      <% if item.status = true %>
      	<td>販売中</td>
      <% else %>
        <td>販売停止中</td>
      <% end %>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to "新規登録", admins_item_new_path_path %>
