<div class ="container">
	<div class = "row">
		<div class ="col-xs-10">
			<table>
				<tr>
					<td>  <h2>新しいパスワードを設定して下さい。</h2>
						<%= form_tag(end_users_changed_path,:method => 'get') do %><div>　</div>
						  <%= password_field_tag :password %><div>　</div><br>
						  　<%= submit_tag '変更する', :name => nil %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
