<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>注文詳細画面</h2>
			<table class="table">
				<tr>
					<td>購入者</td>
					<td><%= @order.end_user_name %></td>
				</tr>
				<tr>
					<td>配送先</td>
					<td><%= @order %></td>
				</tr>
				<tr>
					<td>支払方法</td>
					<td><%= @order.paymethod %></td>
				</tr>
				<tr>
					<td>注文ステータス</td>
					<td>セレクトボックスでいじれるようにする</td>
					<td>更新ボタン</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			<table>
				<thead>
					<tr>
						<th>商品名</th>
						<th>単価（税込）</th>
						<th>数量</th>
						<th>小計</th>
						<th>制作ステータス</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>洋梨タルト</td>
						<td>1200</td>
						<td>1</td>
						<td>1200</td>
						<td>セレクトボックス</td>
						<td>更新ボタン</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-4">
			<table class="table">
				<tr>
					<td>商品合計</td>
					<td>7000円</td>
				</tr>
				<tr>
					<td>送料</td>
					<td>800円</td>
					<td>請求金額合計</td>
					<td>7800円</td>
				</tr>
			</table>
		</div>
	</div>
</div>
